/subprojects/*/

/subprojects/gvdb.wrap
/subprojects/libffi.wrap
/subprojects/libpng.wrap
/subprojects/pcre2.wrap
/subprojects/pixman.wrap
/subprojects/proxy-libintl.wrap
/subprojects/zlib.wrap

builddir
prefix
Makefile
zig-out
.zig-cache

